body{
background-color:#f8f9fa;
}


.header{
    display:flex;
    justify-content:center;
}

.header__nav{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
    margin:20px 0px;
    width:100%;
}

select{
    padding:10px;
    outline:none;
    color:white;
    font-weight:bold;
    background-color:#61d5df;
    font-size:15px;
    border:0px;
}

.nav__search{
    height:39px;
    box-sizing: border-box;
    padding:3px;
    outline:none;
    color:white;
    font-weight:bold;
    background-color:#61d5df;
    font-size:15px;
    border:0px;
    display:flex;
    align-items: center;
    min-width:300px;
}
#searchQuery{
    border:0px;
    outline:none;
    flex:1 200px;
    height:100%;
    max-height:27px;
    padding-left:5px;
}




#searchButton{
    border:0px;
    outline:none;
    flex:1 50px;
    height:100%;
    max-height:27px;
    cursor:pointer;

}

.main__catalog{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    padding:10px;

    
}

.catalog__product{
    flex:1 270px;
    max-width:370px;
    height:290px;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border:2px solid #e4e5ec;
    border-radius:8px;
    cursor:pointer;
    box-sizing:border-box;

}

.catalog__product:hover{
    border: 2px solid #61d5df;
}

.catalog__photo{
    width:100%;
    height:180px;
    padding:10px;
    text-align: center;
    box-sizing:border-box;
    
}

.catalog__photo img{
    max-width:100%;
    max-height:100%;
    
}

.catalog__prices{
    border-top:1px solid #e4e5ec;
    height:34px;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.catalog__title{
    padding:0px 5px;
    text-align:justify;
    box-sizing: border-box;


}